{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link href="../static/edit_post.css" rel = "stylesheet">
{% endblock head %}

{% block page_content %}
    <div style="margin: 50px">
        <div>
            <h5>分类管理</h5>
        </div>
        <div id="category-list" style="margin: 30px">
            <table>
                <tr>
                    <td>生活</td>
                    <td><button class="btn success">修改</button></td>
                    <td><button class="btn success">删除</button></td>
                </tr>
            </table>
        </div>
        <div>
            <button id="btn" class="btn" data-toggle="modal" data-target="#edit" data-title="添加分类">添加分类</button>
        </div>
    </div>

    <!-- 弹框底层蒙版 -->
    <div id="mask" class="mask"></div>

    <!-- 弹框-->
    <div id="bomb_box" class="bomb_box">
        <div style="border: 2px salmon">
            <div style="margin: 10px">
                <h5>添加分类</h5>
            </div>
            <div style="margin: 20px">
                <input type="text" name="name" />
                <button type="submit">提交</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function() {
        $("#btn").click(function(){
            $("#bomb_box").fadeIn()
            $("#mask").fadeIn()
        });
        $("#mask").click(function(){
            $("#mask").fadeOut()
            $("#bomb_box").fadeOut()
        });
    });
</script>
{% endblock %}

