{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link href="../static/edit_post.css" rel = "stylesheet">
{% endblock head %}

{% block page_content %}
    <div style="margin: 50px">
        <div>
            <h5>分类管理</h5>
        <div>
            <button id="btn" class="btn" data-toggle="modal" data-target="#edit" data-title="添加分类">添加分类</button>
        </div>
        </div>
        <div id="category-list">
            <table class="table table-striped table-hover">
              <thead><tr><tr><th>栏目</th><th>文章数</th><th>操作</th></tr></thead>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.count }}</td>
                    <td><a href="{{ url_for('main.category_delete', cat_id=category.id) }}"><button class="btn success">删除</button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    <!-- 弹框底层蒙版 -->
    <div id="mask" class="mask"></div>

    <!-- 弹框-->
    <div id="bomb_box" class="bomb_box">
        <div style="border: 2px salmon">
            <div style="margin: 10px">
                <h5>添加分类</h5>
            </div>
            <div style="margin: 20px">
                <form action="/add-category" method="post">
                    <input type="text" name="name" />
                    <button type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function() {
        $("#btn").click(function(){
            $("#bomb_box").fadeIn()
            $("#mask").fadeIn()
        });
        $("#mask").click(function(){
            $("#mask").fadeOut()
            $("#bomb_box").fadeOut()
        });
    });
</script>
{% endblock %}
