{% extends 'base.html' %}


{% block page_content %}
        {% include '_posts.html' %}
    <div class="col-sm-4 col-md-4 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>关于我</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module sidebar-module-inset">
          <div style="margin-bottom: 30px">
            <div style="float: left"><h5>目录</h5></div>
            <div style="float: right"><a href="/category"><h5>管理</h5></a></div>
          </div>
          {% for category in categories %}
            <p>{{ category.name }}</p>
          {% endfor %}
    </div>
    </div>
{% endblock %}
