{% extends 'base.html' %}


{% block page_content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        {% include '_posts.html' %}
      </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>关于我</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module sidebar-module-inset">
          <div style="margin-bottom: 30px">
            <div style="float: left"><h5>目录</h5></div>
            <div style="float: right"><a href="/category"><h5>管理</h5></a></div>
          </div>
        <ol class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
    </div>
    </div>
  </div>
</div>
{% endblock %}
